<div class="app-wrapper">
    <div class="collection-list">
        <div v-for="item in list" class="collection-list__item" :key="item.id" v-if="item.data">
            <div class="media-wrapper" v-if="item.data">
                <div class="image" v-if="item.data.images">
                    <img v-bind:src="item.data.images | img" alt=""/>
                </div>
            </div>
            <div class="meta-info">
                <h2>{{item.data.name}}</h2>
                <p>{{item.agency}}</p>
                <p>{{item.genre}}</p>
                <p>popularity: {{item.data.popularity}}</p>
                <p>followers: {{item.data.followers.total}}</p>
                <p v-if="item.data.genres.length > 0">{{item.data.genres}}</p>
            </div>
        </div>
    </div>
</div>